/* google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&display=swap');

/* font-family: 'Oxygen', sans-serif;  font-family: 'Maven Pro', sans-serif;  */

html {
    scroll-behavior: smooth;
}

.container-fluid {
    padding: 2% 8%;
    font-family: 'Oxygen', sans-serif;
}


/* Title Section */

.title {
    text-align: center;
    font-size: 1.8rem
}

header {
    background-color: #141615;
    border-bottom: 2.5px solid #E91E22;
}

header .logo {
    transform: rotate(-30deg);
    max-width: 100%;
}

header .navbar-nav .nav-item .nav-link {
    color: white;
    position: relative;
    margin: 0 8px;
    font-size: .9rem;
    letter-spacing: 1px;
}

header .navbar-nav .nav-item .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .074rem;
    background-color: rgba(217, 243, 217, .8);
    transition: transform .3s ease-in-out;
    transform: scale(0, 1);
}

header .navbar-nav .nav-item .nav-link:hover::after {
    transform: scale(1, 1);
}

header .navbar-nav .nav-item .nav-link:hover {
    color: white;
}

header .nav-link:focus,
header .nav-link:active,
header .nav-link:hover {
    color: #fff;
}

header .navbar-nav {
    text-align: center;
}

header .dropdown-item {
    margin: 10px 0px;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #fff;
}


/* main section */

#main-section {
    margin-top: 100px;
}

.main-section {
    background: url(../image/background_2.jpg) no-repeat center;
    background-size: cover;
    min-height: 80vh;
}

#main-section .main-text {
    margin-top: 100px;
    color: white;
    font-family: 'Maven Pro', sans-serif;
}

#main-section .main-text h1 {
    font-size: 2.8rem;
    line-height: 1.5;
}

#main-section .main-text button {
    margin: 10px 0px;
    font-size: .9rem;
}

#main-section .btn-dark {
    background-color: #141615;
}


/* carousel section */

.carousel-item img {
    width: 100%;
    display: block;
    height: auto;
}

.carousel-content {
    padding: 20px 10px;
}

.carousel-content h3 {
    font-size: 1rem;
}

.carousel-content p {
    font-size: .9rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    position: absolute;
    width: 20px;
}

.carousel-control-prev-icon {
    left: -10px;
}

.carousel-control-next-icon {
    right: -10px;
}


/* second-section */

.second-content img {
    max-width: 90%;
    margin: auto;
    display: block;
}

.second-section-col {
    box-sizing: border-box;
    margin: 20px 10px;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 30px 10px;
}

.second-section-text {
    line-height: 2;
}

.second-section-text h3 {
    padding: 10px 0px;
    font-size: 1rem;
    font-weight: 900;
}

.second-section-text ul li {
    font-size: .9rem;
}


/* tertiary-content */

.tertiary-section-content p {
    text-align: justify;
    font-size: .9rem;
}

.tertiary-content img {
    max-width: 100%;
    display: block;
}


/* accordion-section */

.accordion-button {
    background-color: #141615;
    color: #fff;
    font-size: 1rem;
}

.accordion-body h3,
.accordion-body p {
    font-size: .9rem;
    text-align: justify;
}

.accordion-button::after {
    filter: brightness(0%) invert(70%);
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: #141615;
    color: #fff;
}

.accordion-button:not(.collapsed)::after {
    filter: brightness(0%) invert(70%);
    color: white;
}

.accordion-button:focus {
    box-shadow: unset;
}


/* services section */

.services-section-col {
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
    margin: 15px 8px;
}

.services-section-text {
    line-height: 1.5;
    text-align: justify;
    padding: 0px 5px;
}

.services-section-text h3 {
    font-size: 1rem;
    font-weight: bolder;
}

.services-section-text p {
    font-size: .9rem;
}


/* contactUs section  */

#contactUs-section {
    background-color: #141615;
    color: white;
    padding: 15px 0px;
}

.map-area {
    width: 100%;
    height: 450px;
}

.map-area iframe {
    width: 100%;
    height: 100%;
}

.contactForm h1 {
    font-size: 1.5rem;
}

.contactForm label {
    font-size: 1rem;
}

.contactForm .form-control:focus {
    box-shadow: none;
    border-color: white;
}

.contactForm input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
}

.contactForm input[type=text] {
    background-color: transparent;
    color: white;
    font-size: .9rem;
}

.contactForm button {
    font-size: .9rem;
}


/* socialMedia Section */

.socialMedia-section span {
    display: inline-block;
    margin: 0px 10px;
}


/* footer */

.footer-bg {
    background-color: #141615;
}

.footer-bg h6 {
    font-size: .9rem;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .title {
        font-size: 1.9rem
    }
    header .navbar-nav .nav-item .nav-link {
        font-size: 1rem;
    }
    #main-section .main-text h1 {
        font-size: 3.2rem;
    }
    #main-section .main-text button {
        font-size: .9rem;
    }
    #main-section .btn-dark {
        background-color: #141615;
    }
    .carousel-content h3 {
        font-size: 1.3rem;
    }
    .carousel-content p {
        font-size: 1rem;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 40px;
    }
    .carousel-control-prev-icon {
        left: -30px;
    }
    .carousel-control-next-icon {
        right: -30px;
    }
    .second-section-text h3 {
        font-size: 1.3rem;
    }
    .second-section-text ul li {
        font-size: 1rem;
    }
    .tertiary-section-content p {
        font-size: 1rem;
    }
    /* accordion-section */
    .accordion-button {
        font-size: 1.1rem;
    }
    .accordion-body h3,
    .accordion-body p {
        font-size: 1rem;
    }
    .services-section-text h3 {
        font-size: 1.3rem;
    }
    .services-section-text p {
        font-size: 1rem;
    }
    /* contactUs section  */
    .contactForm h1 {
        font-size: 1.5rem;
    }
    .contactForm label {
        font-size: 1rem;
    }
    .contactForm input[type=text] {
        background-color: transparent;
        color: white;
        font-size: .9rem;
    }
    .contactForm button {
        font-size: .9rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .title {
        font-size: 2rem
    }
    header .navbar-nav .nav-item .nav-link {
        font-size: 1.1rem;
    }
    #main-section .main-text h1 {
        font-size: 3.5rem;
    }
    #main-section .main-text button {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1200px) {
    .title {
        font-size: 2rem
    }
    header .navbar-nav .nav-item .nav-link {
        font-size: 1.1rem;
    }
    #main-section .main-text h1 {
        font-size: 3.6rem;
    }
    #main-section .main-text button {
        font-size: 1rem;
    }
    .carousel-content h3 {
        font-size: 1.8rem;
    }
    .carousel-content p {
        font-size: 1.1rem;
    }
    .carousel-control-prev-icon {
        left: -40px;
    }
    .carousel-control-next-icon {
        right: -40px;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 50px;
    }
    .second-section-text h3 {
        font-size: 1.4rem;
    }
    .second-section-text ul li {
        font-size: 1.1rem;
    }
    .tertiary-section-content p {
        font-size: 1.1rem;
    }
    /* accordion-section */
    .accordion-button {
        font-size: 1rem;
    }
    .accordion-body h3,
    .accordion-body p {
        font-size: 1rem;
    }
    .services-section-text h3 {
        font-size: 1.3rem;
    }
    .services-section-text p {
        font-size: 1rem;
    }
    /* contactUs section  */
    .contactForm h1 {
        font-size: 1.5rem;
    }
    .contactForm label {
        font-size: 1rem;
    }
    .contactForm input[type=text] {
        background-color: transparent;
        color: white;
        font-size: .9rem;
    }
    .contactForm button {
        font-size: 1rem;
    }
    .socialMedia-section h6 {
        font-size: 1.1rem;
    }
    .socialMedia-section span img {
        width: 22px;
        cursor: pointer;
    }
}